<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="wcho2_Northwind_CS" providerName="System.Data.SQLClient"
         connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=wcho2_Northwind; User ID=wcho2;Password=CNT_123"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages theme="SkinFile"></pages>
  </system.web>
</configuration>